* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #333333;
}

.card {
	width: 400px;
	background-color: #dddddd;
	border-radius: 8px;

	&__img {
		width: 100%;
	}
	&__body {
		padding: 10px 20px;
	}
	&__text {
		margin: 20px 0;
	}
	&__btns {
		display: flex;
		justify-content: space-around;
	}
	&__btn {
		padding: 10px 20px;
		border: 1px solid black;
		border-radius: 8px;
		cursor: pointer;

        &--highlight {
            background-color: rgb(99, 179, 99);
        }
	}
    
}
